@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------- */

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #e7e7e7;
    min-height: 100vh;
}
/* contains everything */
.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
/* Every link will have the same style */
a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
#nav-links a:hover{
    border-bottom: 1px solid #985100;
    text-shadow: 1px 2px 5px white;

}

ul {
    list-style: none;
}

header {
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
}

/* styling only "Quiz" word only of the title (Quiz Game) */
.q-span{
    background-color: #985100;
    padding: 10px;
    box-shadow: 0 0 0 2px #985100;
}

h1{
    font-size: 2.5rem;;
    transition: all 0.5s ease-in-out;
}
#nav-links{
    display: flex;
    gap: 2rem;
    transition: all 0.5s ease-in-out;
}

/*  shared style */
header,
main,
footer {
    background-color: #171d24;
    color: white;
    padding: 1rem;
}

h2{
    margin: 2rem 0;
    background-color: #985100;
    padding: 10px;
    box-shadow: 0 0 2px 0 #985100;
    transition: all 0.5s ease-in-out;
}

/* Intro Section / Layer */
#intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;  
}
/* Adding extra margin at top of h2 element withen intro section */
#intro-heading{
    margin-top: 1.5rem;
    transition: all 0.5s ease-out; 
}

#intro-section #username {
    text-align: center;
    font-size: 1.2rem;
    height: 2.5em;
    border: 1px solid white;
    border-radius: 1px;
}

/* fieldset that contains the levels < easy , med or hard ! */
fieldset {
    border: none;
}

fieldset legend {
    margin-bottom: 0.7rem;
}

fieldset div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* ------------
    Questions Layer
--------------*/
#question {
    font-size: 1.2rem;
    margin: 2rem 0;
}

#options-list li {
    justify-self: center;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(135, 143, 179, 0.4);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    max-width: 30rem;
    margin: 0.5rem ;
    transition: all 0.5s ease-in-out;
}

#options-list li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
